.home-section {
  padding-top: calc(var(--navbar-height) + 1rem);
  padding-bottom: 6rem;
  text-align: center;
  position: relative;
}

.home-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 60vh;
  background: radial-gradient(circle, rgba(255, 234, 205, 0.12) 0%, transparent 70%);
  z-index: -1;
  filter: blur(60px);
}

.home-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}


/* ------------------------------
   Tipografías específicas Home
------------------------------ */

.home-title {
  font-family: var(--font-esoteric);
  font-size: 3rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-dark-gold);
  text-shadow: 0 0 8px rgba(230, 207, 168, 0.25);
  opacity: 0;
  transform: translateY(120px);
  animation: fadeDown 1.5s ease forwards;
}


@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-subtitle {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  opacity: 0.85;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(230, 207, 168, 0.9);
  font-style: italic;
}

.home-description {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  opacity: 0.85;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  color: var(--color-gold);
}

.home-cta {
  font-size: 1.2rem;
  color: var(--color-gold);
  margin-top: 2rem;
  margin-bottom: 4rem;
  opacity: 0.9;
  text-shadow: 0 0 10px rgba(230, 207, 168, 0.25);
  font-family: var(--font-esoteric);
}

/* ------------------------------
   Responsive
------------------------------ */


@media (max-width: 768px) {
  .home-section {
    padding-top: 8rem;
    padding-top: calc(var(--navbar-height) - 10px)
  }

  .home-title {
    font-size: 1.8rem;
  }

  .home-subtitle {
    font-size: 1.1rem;
  }

  .home-description {
    font-size: 1rem;
  }

  .home-cta {
    font-size: 1.1rem;
  }

}

