.home-section {
  padding-top: 10rem;
  padding-bottom: 6rem;
  text-align: center;
}

.home-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}


.home-section h1 {
  font-family: var(--font-esoteric);
  font-size: 3rem;
  justify-content: center;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-gold);
}

.home-section p {
  font-size: 1.4rem;
  margin-bottom: 3.5rem;
  opacity: 0.9;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------
   Grid de cartas
------------------------------ */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 2.5rem;
  justify-content: center;
  justify-items: center;


}

.card {
  width: 170px;
  height: 280px;
  border-radius: 12px;
  box-shadow: 0 0 15px var(--color-gold);
  border: 1px solid var(--color-gold);
  cursor: pointer;
  color: var(--color-gold);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 0;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--color-gold);

}


/* Imagen dentro de la carta */
.cardBack,
.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* ------------------------------
   Responsive
------------------------------ */


@media (max-width: 768px) {
  .home-section {
    padding-top: 8rem;
  }

  .home-section h1{ 
    font-size: 2rem;
  }

  .home-section p{
    font-size: 1.1rem;
  }
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards-grid {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1.5rem;   
  }

  .card {
    max-width: 130px;
    width: 100%;
    height: auto;

  }

}