/* styles/global.css */

:root {
  --color-bg: #0C0C1D;
  --color-darkblue: #1F2937;
  --color-dark-gold: #CFAE65;
  --color-gold: #E6CFA8;
  --font-esoteric: 'Cinzel', serif;
  --font-legible: 'Cormorant Garamond', serif;
  --navbar-height: 70px;
}

body {
  background-color: var(--color-bg);
  color: white;
  font-family: var(--font-legible);
  margin: 0;
  min-height: 100vh;
}

body,
.appContainer,
.appMain,
.appHeader,
.appFooter,
section,
.appContainer * {
  user-select: none;
}

div {
  cursor: default;
}